@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	background:#111;
}
#pageTitle
{
	color: white;
	position: fixed;
	top: 20px;
	left: 30px;
	font-size: 60px;

}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
  
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  /*color: #7BFFD1;*/
  /*color: #54AF8F;*/
 /* color: #3F836B;*/
  text-decoration: underline;
  }

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  /*background-color: #262626;*/
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
section{
  position: relative;

}
.articleType{
  color:white;
  position: relative;
  padding: 8px;
  left: 30%;
  top: 10vh;
}
.articleTitle{
  color:black;
  text-decoration: underline;
  font-size: 35px;
  padding: 8px;
  text-align: left;

}
article{
  
  background: white;
  /*min-height: 30vh;*/
  width: 60vh;
  /*display: flex;*/
  position: absolute;
  left: 33vh;
  top: 10vh;
  justify-content: center;
  background: linear-gradient(to right bottom, rgba(255,255,255,.7),rgba(255,255,255,0.2));
  border-radius: 2rem;
}
article:hover{
  /*box-shadow: 120px 80px 100px 50px #FFFFFF;*/
  box-shadow:  inset 0 0 50px #fff,      /* inner white */
    /*inset 20px 0 80px #f0f,   /* inner left magenta short */
    /*inset -20px 0 80px #0ff,  /* inner right cyan short */
    /*inset 20px 0 300px #f0f,  /* inner left magenta broad */
   /* inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #0ff,        /* outer left magenta */
    10px 0 80px #f0f;         /* outer right cyan */

}
.coverPic{
  max-width:60vh;
  /*top:12vh;*/
  /*right:25%;*/
  /*position:relative;*/
  padding: 8px;
}
.articleBodyText{
  padding:8px;
  display:none;
  overflow:hidden;

 /* position:relative;*/
}

button.collapsible{
  padding: 5px;
  border-radius: 10px;
  outline:none;
  background: white;
  margin-left:10px;
  
  background:linear-gradient(0deg,#A8A8A8,#FFFFFF);
  /*background:green;*/
  background:none;
  
  border-radius:9px;
  box-sizing:border-box;
  
  border:none;
  font-size:22px;
  outline:none;

}
button:hover{
  text-decoration: underline;
}
.Date{
  margin-left: 3%;
  display:inline-flex;

}
ul.tags{
  padding:2px 2px 2px 2px;
  
  list-style-type:none;
  
  
  

  /*background:linear-gradient(0deg,#05D86F,#93F8FF);
  /*background:rgb(0,200,100);*/
  display:inline-flex; /*Makes the background only cover the characters rather than entire line.*/
  border-radius:17px;
  /*box-sizing:border-box;*/
 }
li.BreakingNews{
  background:red;
  border-radius:17px;

}
li.BDSP{
  background:linear-gradient(45deg,#0ff,#f0f);
  border-radius:17px;
}
li.SWSH{
  background:linear-gradient(45deg,cyan,magenta);
  border-radius:7px;
}